{% extends 'fileconnector/base.html' %}
{% block body %}
    <form method="post" action="{% url 'spark:csv' %}">
        {% csrf_token %}
        <textarea id="schema" name="schema">{{ meta_str }}</textarea><br>
        <input type="text" id="description" name="description" value="{{ instance.description }}"><br>
        <input type="text" id="file" name="file" value="{{ instance.file.name }}"><br>
        <input type="text" id="name" name="name" value="{{ uuid }}"><br>
        <label id="data" name="data">{{ data }}</label><br>
        <input type="submit" value="Create Data Set"><br>
    </form>
{% endblock %}
