{% extends 'base.html' %}

{% block body %}
<h2>{{ instance.name }}</h2>
    <div class="container-fluid">
        <li>{{ instance.schema }}</li>
        <li>{{ instance.timestamp }}</li>
        <li>{{ instance.updated }}</li>
        <input type="hidden" id="schema" name="schema" value="{{ instance.schema }}">
        <input type="text" id="sampleData" value="{{ instance.sample }}" size="200"><br>
        <table class="table table-striped" id="sampleTable"><tbody></tbody></table>
    </div>
    <script type="text/javascript">
        $(function() {
            addTable($.parseJSON($("input#sampleData").val()),
                    $("table#sampleTable"),
                    $("input#schema"));
        });
    </script>
{% endblock %}
